/* @import "http://webfonts.ru/import/orpheus.css"; */
@font-face {
  font-family: 'Futura PT';    
  src: font-url('futura.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';    
  src: font-url('futura-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,body {
	height: 100%;
}

input[type='password']{
	width: 100%;
	border-radius: 3px;
	border: none;
	border: 1px solid #ccc;
	font-size: 18px;
	line-height: 32px;
	padding: 5px 10px;
	outline: none;
	margin-bottom: 20px;
}

.wrapper{
	width: 100%;
	min-width: 1024px;
}
h1{
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: normal;
/* 	font-family: 'Orpheus';
	font-weight: normal;
	font-style: normal; */
	font-family: 'Futura PT';
}
a{
	text-decoration: none;
	color: #000;
	-webkit-transition: all .2s ease;
	&:hover{
		color: red;
	}
}
.wrapper .header{
	header{
		padding: 10px;
		background: -moz-linear-gradient(top, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.04)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		.name{
			margin: 0 auto;
			font-family: 'Futura PT';
			letter-spacing: 1px;
			font-size: 12px;
			color: #888;
			text-transform: uppercase;
			float: left;
			cursor: default;
			font-weight: bold;
			line-height: 14px;
			a{
				color: #888;
				&:hover{
					color: #ff3f3f;
				}
			}
		}
		nav{
			float: right;
			display: block;
			padding-left: 30px;
			margin-top: -9px;
			a{
				color: #aaa;
				line-height: 24px;
				font-size: 13px;
				font-family: Helvetica;
				padding: 0 10px;
				font-family: 'Futura PT';
				font-weight: normal;
				&:hover{
					color: #ff3f3f;
				}
				&.separate{ 
					position: relative;
					margin-left: 20px;
					&:before{
						content: "·";
						margin: 0 15px;
						color: #ccc;
						position: absolute;
						display: block;
						top: -4px;
						left: -29px;
					}
				}
			}
		}
	}
}
.wrapper{
	min-height: 100%;
	&:after{
		content: "";
		clear: both;
		display: block;
		height: 100px;
	}
}
.footer{
	padding: 0 10px;
	height: 30px;
	font-family: 'Futura PT';
	font-size: 13px;
	margin-top: -30px;
	a{
		color: #aaa;
		margin-right: 20px;
		&:hover{
			color: red;
		}
	}
	span{
		float: right;
		color: #aaa;
	}
}