/* @import "http://webfonts.ru/import/orpheus.css"; */
@font-face {
  font-family: 'Futura PT';    
  src: url('/assets/futura.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

input[type='password']{
	width: 100%;
	border-radius: 3px;
	border: none;
	border: 1px solid #ccc;
	font-size: 18px;
	line-height: 32px;
	padding: 5px 10px;
	outline: none;
	margin-bottom: 20px;
}

.wrapper{
	width: 100%;
}
h1{
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 30px;
/* 	font-family: 'Orpheus';
	font-weight: normal;
	font-style: normal; */
	font-family: 'Futura PT';
}
a{
	text-decoration: none;
	color: #000;
	-webkit-transition: all .1s ease;
	&:hover{
		color: red;
	}
}
.wrapper.header{
	header{
		padding: 10px;
		.name{
			margin: 0 auto;
			font-family: 'Futura PT';
			letter-spacing: 2px;
			font-size: 12px;
			color: #888;
			text-transform: uppercase;
			float: left;
			cursor: default;
			a{
				color: #888;
				&:hover{
					color: #ff3f3f;
				}
			}
		}
		nav{
			float: right;
			display: block;
			padding-left: 30px;
			margin-top: -5px;
			a{
				color: #aaa;
				line-height: 24px;
				font-size: 12px;
				font-family: Helvetica;
				padding: 0 10px;
				&:hover{
					color: #ff3f3f;
				}
				&.logout{
					float: right;
					color: #777;
					&:hover{
						color: #ff3f3f;
					}
				}
			}
		}
	}
}