// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post{
	-webkit-animation: post-appear .5s 1;
}
article{
	width: 960px;
	margin: 0 auto;
	padding: 35px 0 20px;
	header{
		position: relative;
		.top{
			text-align: center;
		}
		time, .edit-link{
			font-size: 13px;
			font-family: Georgia;
			margin-bottom: 0px;
			font-style: italic;
			color: #666;
		}
/* 		time:after, time:before, .edit-link:after{
			content: "·";
			margin: 0 7px;
			color: #ccc;
		} */
		.edit-link:before{
			content: " · ";

		}
		.edit-link:hover{
			color: red;
		}
		.edit-link:hover:before{
			content: " · ";
			color: #666;
		}
	}
	
	section{
		width: 760px;
		margin: 20px auto 0;
		ul{
			padding: 0 0 10px 29px;
			li{
				position: relative;
			}
			li:before{
				content: '—';
				position: absolute;
				left: -27px;
				top: 1px;
			}
		}
		p{
			font-family: Georgia;
			font-size: 17px;
			line-height: 29px;
			margin: 29px 0; 
			a{
				color: #1C9E4B;
			}
		}
		figure{
			position: relative;
			padding: 0px 0 30px;
			img{
				max-width: 760px;
			}
			figcaption{
				position: absolute;
				top: 0px;
				width: 160px;
				right: -160px;
				margin-right: -29px;
				font-size: 12px;
				line-height: 16px;
				font-style: italic;
				color: #aaa;
				display: block;
				font-family: Georgia;
				&:before{
					content: "";
					width: 40px;
					height: 1px;
					background-color: #ddd;
					display: block;
					margin-bottom: 13px;
				}
			}
		}
		p:first-child{
			text-indent: 0;
		}
		
	}
	footer{
		.tags-list{
			.tag{
				font-size: 12px;
				font-family: Georgia;
				padding: 3px 6px;
				font-style: italic;
			}
		}
	}
}

.edit{
	width: 700px;
	margin: 0 auto;
	padding-top: 30px;
	.field{
		#post_title{
			font-family: 'Futura PT';
			font-size: 24px;
			font-weight: bold;
			width: 700px;
			border: none;
			outline: none;
			margin-bottom: 20px;
		}
		#post_body{
			font-family: Georgia;
			font-size: 16px;
			line-height: 24px;
			width: 700px;
			height: 350px;
			border: none;
			outline: none;
			margin-bottom: 20px;
		}
		#post_tag_list{
			font-family: Georgia;
			font-size: 13px;
			line-height: 20px;
			border: none;
			outline: none;
			margin-top: 20px;
		}
		&.tags{
			label{
				font-family: Georgia;
				font-size: 13px;
				line-height: 20px;
				border: none;
				outline: none;
				color: #888;
			}
		}
	}
	.tags_list{
		font-family: Georgia;
		font-size: 13px;
		line-height: 20px;
		border: none;
		outline: none;
		margin-bottom: 20px;
		color: #888;
	}
	input[type="submit"]{
		border-radius: 3px;
		background-color: #000;
		color: #fff;
		border: none;
		padding: 10px 20px;
		margin-left: 3px;
		float: left;
	}
	input[type="submit"]:hover{
		background-color: red;
	}
	.delete-post{
		display: block;
		float: right;
		font-size: 12px;
		margin-top: 13px;
		color: #aaa;
	}
}

@-webkit-keyframes post-appear {
  0%, 30%   { opacity: 0; padding-top: 10px }
  100% { opacity: 1; padding-top: 0px}
}
